@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.spinner {
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

@font-face {
  font-family: 'Gotham';
  src: url("../public/fonts/GothamMedium.ttf") format("opentype");
}

*{
  /* font-family: 'Gotham'; */
}

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .bgPrincipal {
    background-color: #78A132 !important;
  }

  .bgSecundario {
    background-color: #97ca3f !important;
  }
  
  .colorPrincipal {
    color: #78A132 !important;
  }

  .colorSecundario {
    color: #97ca3f !important;
  }

.landingBGImage {
  background-image:
    /*url("https://www.pngmart.com/files/12/Abstract-Green-Wave-PNG-Clipart.png"),*/ /*lineas verdes*/
    url("https://global-uploads.webflow.com/642ed403044d8378fabb82a6/644f5895442c99b19bc90273_BG.svg"),
    linear-gradient(to right, #0e1a21, #172e3b);
  background-position: top right;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  text-align: center;
  height: 100%!important;
}

.h-full {
  height: 100%!important;
}


  label {
    color: white !important;
  }


* { 
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.siteBg {
  background: linear-gradient(180deg, #000000 0%, #000000 60.04%, #000000 100%)!important;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 100%!important;
  height: 100vh!important;
  background-image: url("../public/img/BgTwo.jpg");
  background-position: fixed;
  background-size: cover;
/*  background: rgb(31, 33, 41) !important; */
}

#__next { 
  width: 100%!important;
  height: 100%!important;
}
  
.cursoBGOverlay {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%)!important;
}

.cursoOverlay {
  transition-property: all;
  transition-duration: 400ms;
  background: transparent;
}

.cursoOverlay:hover {
  cursor: pointer;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%)!important;
}

.swiper { 
  overflow: visible!important;
}

.swiper-button-next { 
  right: -35px!important;
  font-weight: 800!important;
  color: white!important;
}

.swiper-button-prev { 
  left: -35px!important;
  font-weight: 800!important;
  color: white!important;
}

.cursosGridTemplate {
  grid-template-columns: repeat(auto-fit, minmax(220px, 220px))
}

@keyframes appearsMessageYouAnimation {
  from {
    margin-left: 200px;
  }
  to {
    margin-right: 0px;
  }
}

@keyframes appearsMessageAlert {
  from {
    margin-left: 500px;
  }
  to {
    margin-right: 0px;
  }
}

@keyframes messageAppearsMe {
  from {
    margin-left: -200px;
  }
  to {
    margin-left: 0px;
  }
}

@keyframes opacityAppears {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.infinite-scroll-component__outerdiv {
  width: 100%!important;
}

.appearsAnimation {
  transition: all .3s linear;
  animation: opacityAppears .3s ease;
}

.messageAppearsAnimationMe {
  animation: messageAppearsMe .5s ease;
}

@keyframes messageModalAPpears {
  from {
    margin-left: -500px;
    opacity: 0;
  }
  to {
    margin-left: 0px;
    opacity: 1;
  }
}

.messageModalAppearsAnimation {
  animation: messageModalAPpears .5s ease;
}


.appearsMessageYou {
  animation: appearsMessageYouAnimation .5s ease!important;
}


.appearsMessage {
  animation: appearsMessageAlert .5s ease!important;
}


/* width */
.chat ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.chat ::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
.chat ::-webkit-scrollbar-thumb {
  background: transparent; 
}

/* Handle on hover */
.chat ::-webkit-scrollbar-thumb:hover {
  background: transparent; 
  width: 10px;
}

/* width */
.item-no-scrollbar ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.item-no-scrollbar ::-webkit-scrollbar-track {
  background: inherit; 
}
 
/* Handle */
.item-no-scrollbar ::-webkit-scrollbar-thumb {
  background: #78A132; /* color de la barra */ 
  border-radius: 100px;
}

/* Handle on hover */
.item-no-scrollbar ::-webkit-scrollbar-thumb:hover {
  background: #600EFF; /* cuando hago hover */
  width: 10px;
}

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  .modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    /* Resto de las reglas de estilo del contenedor del modal */


  }


.multiSelect div {
  width: 100%;
}


.bgFilter {
  backdrop-filter: blur(10px);
}

.moduloContainer:hover {
  transition: all .3s linear;
  background-color: #d9d9d94b;
}
.moduloContainer::after {
  transition: all .3s linear;
  content: '';
  width: 0; 
  height: 0; 
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  
  border-left: 30px solid transparent;
  position: absolute;
  right: -30px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.moduloContainerActive {
  transition: all .3s linear-in-out;
  background-color: #d9d9d94b;
}
.moduloContainerActive::after {
  transition: all .3s linear;
  content: '';
  width: 0; 
  height: 0; 
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  
  border-left: 30px solid #d9d9d94b;
  position: absolute;
  right: -30px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.moduloContainer:hover::after {
  border-left: 30px solid #d9d9d94b;
}

.claseGradient {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}


.itemExpanded::after {
  transition: all .3s linear;
  content: '';
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  
  border-bottom: 8px solid #31174aaa;
  position: absolute;
  right: 20px;
  top: -8px;
  margin-top: auto;
  margin-bottom: auto;
}

.containerProgressImage {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  border: 20px solid black;
  height: 500px;
  color: white;
  background: #2e1251;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.certificate {
  background-color: #f2f2f2;
  padding: 30px;
  border-radius: 10px;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 18px;
  margin-bottom: 10px;
}

.name {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}

.date {
  font-size: 16px;
  margin-bottom: 50px;
}

.signature {
  font-size: 18px;
  font-weight: bold;
}


  .logo {
      color: white;
      font-size: 30px;
  }
  .logo__sub{
     color: #78A132;
  }
  .marquee {
      color: white;
      font-size: 28px;
      margin: 20px;
  }
  .assignment {
      margin: 20px;
  }
  .person {
      border-bottom: 2px solid white;
      font-size: 32px;
      font-style: italic;
      margin: 20px auto;
      width: 400px;
  }
  .reason {
      margin: 20px;
      margin-top: 30px;
  }



.course_name {
  font-size: 30px;
}

.cursoImage{
  width: 80%;
  margin: auto;
}


.itemGenerateVideo {
  background-color: #330033;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='494' height='494' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.animationMin {
  animation: myAnimEnd .3s linear;
}

.animationMax {
  animation: myAnimEnter .3s linear;
}


@keyframes myAnimEnd {
	0% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}

@keyframes myAnimEnter {
	0% {
		opacity: 0;
		transform: scale(1.4);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}